a {
    justify-self: center;
}

a:link, a:visited {
    color:inherit;
    text-decoration: none;
}

a:hover {
    color: crimson;
    transition: all 300ms ease;
}

body {
    font-family: Courier New, monospace;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 95%;
}

div {
    display: grid;
    left: 0;
    top: 80px;
    opacity: 1;
}

footer {
    display: grid;
    grid-template-rows: min-content;
    position: relative;
    bottom: 0;
    left: 0;
}

form {
    display: grid;
    flex-direction: column;
}
  
h1 {
    text-align: center;
}

header {
    display: grid;
    justify-content: center;
}

img {
    opacity: 1;
}

input {
    justify-self: center;
}

label {
    justify-self: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    vertical-align: middle;
}

section {
    display: grid;
    grid-template-rows: auto;
}

summary {
    text-align: right;
}

video {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

u {
    text-decoration-thickness: 1px;
}

ul {
    list-style-type: none;
    text-align: left;
}

.checkbox{
    justify-self: left;
}

.comments{
    text-align: left;
    height: 0px;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}



.minispacer{
    height: 12px;
}

.spacer{
    height: 36px;
}

.uploadformcontent {
    margin: 4px;
}

.toslink{
    padding-left: 6px;
}

.videoBlock{
    display: grid;
    justify-items: center;
    grid-template-rows: fit-content(200px) fit-content(150px);
}

.videoclass{
    height: 0px;
}

.videoThumbnail:hover{
    outline: 1px solid red;
}

#dramaticheading {
    height: 50px;
}

#indexContainer{
    grid-area: contentArea;
    display: grid;
    grid-template-rows: fit-content(200px);
    grid-template-columns: auto;
    gap: 20px;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#indexContentHeader{
    grid-area: header;
}

#indexbody {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-areas:
    "header header"
    "leftSideBar mainContent"
    "footer footer";
    background-image: url("../csc317-code-jlor87/Index.jpg");
    background-attachment: fixed;
}

#indexHeader{
    grid-area: header;
    
}

#indexNavBar{
    grid-area: leftSideBar;
}

#indexMainContent{
    grid-area: mainContent;
    display: grid;
    grid-template-areas:
    "header"
    "contentArea";
    grid-template-rows: min-content;
    height: fit-content;
    min-height: 100vh;
}

#indexFooter{
    grid-area: footer;
}

#loginbody{
    background-image: url("../csc317-code-jlor87/Login2.jpg");
}

#loginsubmit {
    background: none;
    width: 70px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding: 3px;
}

#loginsubmit:hover {
    color:red;
}

#postvideobody{
    background-image: url("../csc317-code-jlor87/Post\ Video.jpg");
    background-position: left center;
}

#profilebody{
    background-image: url("../csc317-code-jlor87/View\ Profile.jpg");
    background-repeat: no-repeat;
}

#registrationbody{
    background-image: url("../csc317-code-jlor87/Register.jpg");
}

#uploadfile {
    justify-self: unset;
    position: relative;
    left: 36.5%;
    height: 50px;
}

#videodesc {
    padding: 20px 10px;
}

#videoname {
    font-size: large;
}

#viewpostbody{
    background-image: url("../csc317-code-jlor87/View\ Post.jpg");
}