<section class="commentSection">
    <p><u>Previous Comments:</u></p>
        <div class="commentBox">
            <p class="comments">Example comment</p>
            <p class="usernameOfComment">User1</p>
            <p class="dateAndTime">2023 Apr 18</p>
        </div>
        <div class="commentBox">
            <p class="comments">Example comment</p>
            <p class="usernameOfComment">User2</p>
            <p class="dateAndTime">2023 Apr 18</p>
        </div>
        <div class="commentBox">
            <p class="comments">Example comment</p>
            <p class="usernameOfComment">User3</p>
            <p class="dateAndTime">2023 Apr 18</p>
        </div>
</section>