<nav id="indexNavBar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/viewpost">Watch Videos</a></li>
        <li><a href="/postvideo">Upload a Video</a></li>
        <li><a href="/logout" action="/index/logout" method="GET" name="logOut" enctype="application/x-www-form-urlencoded">Logout</a></li>
    </ul>
</nav>