<nav id="indexNavBar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/profile/{{user.userId}}" action="/users/profile" method="GET" enctype="application/x-www-form-urlencoded">My Profile</a></li>
        <li><a href="/users/postvideo" action="/users/postvideo" method="GET" enctype="application/x-www-form-urlencoded">Upload a Video</a></li>
        <li><a href="/users/logout" action="/users/logout" method="GET" enctype="application/x-www-form-urlencoded">Logout</a></li>
        {{>searchForm}}
    </ul>
</nav>