<form id="loginForm">
    <p>Log in using the form below.</p>
    <label for="username">Username</label>
    <input type="username" id="username" name="username"/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <input id="loginsubmit" class="no-outline" type="submit"/>
</form>