<nav id="indexNavBar">
    <ul>
        <li><a href="/public/views/index.hbs">Home</a></li>
        <li><a href="/public/views/login.hbs">Login</a></li>
        <li><a href="/public/views/registration.hbs">Register</a></li>
        <li><a href="/public/views/postvideo.hbs">Upload a Video</a></li>
        <li><a href="/public/views/viewpost.hbs">Watch Videos</a></li>
        <li><a href="/public/views/profile.hbs">My Profile</a></li>
    </ul>
</nav>