<nav id="indexNavBar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/registration">Register</a></li>
        {{>searchForm}}
    </ul>
</nav>