<form id="registrationform" action="/users/registration" method="POST" enctype="application/x-www-form-urlencoded">
    <p>Please register using the form below:</p>
    <label for="username">Username</label>
    <input type="username" id="username" name="username"/>
    <label for="email">Email</label>
    <input type="email" id="email" name="email"/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <label for="password2">Confirm Password</label>
    <input type="password" id="password2" name="confirmPassword"/>
    <label class="container" id="registerContainer"><input type="checkbox" name= "ageCheckBox" id="ageCheckBox" required>I am 13+ years of age.</a></label>
    <label class="container"><input type="checkbox" name="tosCheckBox" id="tosCheckBox" required>I have read the <a href="" class="toslink"> Terms of Service and Privacy Rules.</a></label>
    <input type="submit"/>
</form>