<li>
    <form class="searchForm" action="/posts/search" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" id="searchBar" placeholder="Search.." name="search">
        <button type="submit" id="searchBarButton"><b>Go</b></button>
    </form>
</li>
