<form id="submitComment" action="/posts/comment/" method="POST">
    <div>
        <textarea name="comments" id="comments">
            Post your comment here..
        </textarea>
    </div>
    <input type="hidden" name="fk_postId" value="" />
    <input type="submit" value="Submit">
</form>