<div class="videoBlock">
    <video controls id="video">
        <source src="" type="video/mp4">
    </video>
    <p id="videoName">Name of Video</p>
    <p id="author">Author</p>
    <p id="creationDate">Creation Date</p>
</div>