<!DOCTYPE html>
<html>
  {{>header}}
    <body>
      {{{header}}}
      {{#if (checkIfLoggedIn)}}
        {{> loggedInNavBar}}
      {{else}}
        {{> navbar}}
      {{/if}}
      {{{body}}}
      {{> footer}}
    </body>
</html>
