<!DOCTYPE html>
<html>
  {{>header}}
    <body>
      {{{header}}}
      {{> flashmessage}}
        {{#if isLoggedIn}}
          {{> loggedInNavBar}}
        {{else}}
          {{> navbar}}
        {{/if}}
      {{{body}}}
      {{> footer}}
    </body>
</html>
