<!DOCTYPE html>

<html>
    <body id="indexbody">
        <header class="allHeaders">
            <h1>the viewing space</h1>
            <summary>the haven for aesthetic videographers</summary>
        </header>
        <main id="indexMainContent">
                <header id="indexContentHeader">
                    <h3>{{title}}</h3>
                </header>
                <div id="displayVideos">
                    {{#each recentPosts}}
                        {{>videoCard}}
                    {{/each}}
                </div>
        </main>
    </body>
</html>