<!DOCTYPE html>

<html>
    <head>
        <link href="/public/css/style.css" rel="stylesheet" />
        <script defer src="/public/js/jsfile2.js"></script>
    </head>
    <body id="indexbody">
        <header class="allHeaders">
            <h1>the viewing space</h1>
            <summary>the haven for aesthetic videographers </summary>
        </header>
        <main id="indexMainContent">
                <header id="indexContentHeader">
                    <h3 id="videoResults">Featured Videos:
                </header>
                <div id="indexContainer">
                </div>
        </main>
    </body>
</html>