<!DOCTYPE html>

<html>
    <body id="loginbody">
        <header class="allHeaders">
            <h1>Login</h1>
        </header>
        <main id="loginMain">          
            {{>loginForm}}
        </main> 
    </body>
</html>