<!DOCTYPE html>

<html>
    <link href="/public/css/style.css" rel="stylesheet" />
    <body id="profilebody">
        <header class="allHeaders">
            <h1>View Profile</h1>
        </header>
        <main id="profileMainContent">
                <header>
                    <h2>Username
                </header>
                <caption>
                    <p>Email: itsme@email.com</p>
                </caption>
                <section class="commentSection">
                    <p><u>Previous Comments:</u></p>
                    <div class="commentBox">
                        <p class="comments">Example comment</p>
                        <p class="usernameOfComment">User1</p>
                        <p class="dateAndTime">Apr. 18th, 2023</p>
                    </div>
                    <div class="commentBox">
                        <p class="comments">Example comment</p>
                        <p class="usernameOfComment">User1</p>
                        <p class="dateAndTime">Apr. 18th, 2023</p>
                    </div>
                    <div class="commentBox">
                        <p class="comments">Example comment</p>
                        <p class="usernameOfComment">User1</p>
                        <p class="dateAndTime">Apr. 18th, 2023</p>
                    </div>
                </section>
        </main> 
    </body>
</html>