<!DOCTYPE html>

<html>
    <body id="profilebody">
        <header class="allHeaders">
            <h1>View Profile</h1>
        </header>
        <main id="profileMainContent">
                <header>
                    <h2>{{username}}
                </header>
                <caption>
                    <p>Email: {{email}}</p>
                </caption>
                {{>commentSection}}
        </main> 
    </body>
</html>