<!DOCTYPE html>

<html>
    <body id="registrationbody">
        <script defer src="/public/js/jsfile.js"></script>
        <header class="allHeaders">
            <h1>Registration</h1>
        </header>
        <main id="registrationMain">
            {{>registrationForm}}
        </main>  
    </body>
</html>