<!DOCTYPE html>

<html>
    <body id="viewpostbody">
        <link href="/public/css/style.css" rel="stylesheet" />
        <header class="allHeaders">
                <h1>View Post</h1>
        </header>
        <main>
            <div class="videoBlock">
                <video controls id="video">
                    <source src="" type="video/mp4">
                </video>
                <p id="videoName">Name of Video</p>
                <p id="author">Author</p>
                <p id="creationDate">Creation Date</p>
            </div>
            <section class="commentSection">
                    <p id="commentSectionTitle">Comments</p>
                    <div class="commentBox">
                        <p class="comments">Example comment</p>
                        <p class="usernameOfComment">User1</p>
                        <p class="dateAndTime">Apr. 18th, 2023</p>
                    </div>
                    <div class="commentBox">
                        <p class="comments">Example comment</p>
                        <p class="usernameOfComment">User1</p>
                        <p class="dateAndTime">Apr. 18th, 2023</p>
                    </div>
                    <div class="commentBox">
                        <p class="comments">Example comment</p>
                        <p class="usernameOfComment">User1</p>
                        <p class="dateAndTime">Apr. 18th, 2023</p>
                    </div>
        </main>
    </body>
</html>