<!DOCTYPE html>

<html>
    <body id="viewpostbody">
        <header class="allHeaders">
                <h1>View Post</h1>
        </header>
        <main>
            {{>videoBlock}}
            {{>commentSection}}
        </main>
    </body>
</html>