<!DOCTYPE html>

<html>
    <body id="viewpostbody">
        <header class="allHeaders">
                <h1>View Post</h1>
        </header>
        <main>
            {{#each videoPost}}
                {{>videoBlock}}
            {{/each}}
                {{#if isLoggedIn}}
                    {{>commentSection}}
                {{/if}}
        </main>
    </body>
</html>